<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container">

        <p><a href="{{ site.url }}{{ site.baseurl }}">Home</a></p>

        <h1>{{ page.title }}</h1>
		
	<p>Today's color is: {{ page.color }}</p>

        {% if page.date %}
    		<p>{{ page.date | date: "%A, %B %-d, %Y" }}</p>
        {% endif %}
		
        {{ content }}
		<div class="context-14th">
			<p>On the map, 14th street is one of the main north-south lines in Washington, DC. 
				And 14 street has a good geographical position, not just because of the short of 
				the distance between it and the center, but because it has many services, such as
				restaurants, delicate furniture stores, club, large supermarkets, gyms, private 
				clothing brand shops, apartments, medical care center and so on. On the whole, 
				14th street forms an independent business district, therefore, it was a suitable 
				community for people to live in. However, who would have thought that the bustling 
				14th street was once a black community, where there were few white people, and the 
				contrast with the present? When walking on the sidewalk of 14th street, I see all 
				the restaurants mostly are filled with the white. I start trying to find black people 
				because I want to continue to identify the strange phenomenon. After a few traffic lights, 
				I only saw three black people working at a McDonald's in U street. </p>
		</div>


	</div><!-- end container -->
	
</body>
</html>
